@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login Select";
}
<h1>Please select the login type</h1>
<a href="/Login/userlogin">
    <button>Log in as User</button>
</a>
<a href="/Login/clinicianlogin">
    <button>Log in as Clinician</button>
</a>
<a href="/Login/adminlogin">
    <button>Log in as Admin</button>
</a>

